.header-container {
    position: fixed;
    background-color: #FAFAFA;
    height: 1195px;
    width: 230px;
    z-index: 20;
    margin-top: -200px;
}
.change-container {
    width: 95px;
}
.header-container-logo {
    margin-top: 40px;
}
.header-container-text {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.header-logo-act {
    display: block;
}
.header-logo {  
    margin: 0 auto;
    display: block;
}
.header-block-menu {
    display: none;
}
.header-menu-brand {
    height: 48px;
    width: 48px;
}
.option-check {
    margin-top: 33px;
}
.option-check-img {
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}
.option-check-text {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.options-navigate {
    padding: 0 20px;
}
.pad {
    margin-top: 50px;
    padding: 0  30px;
}

.option-wrappers-descr {
    display: flex;
   align-items: center;
}
.option-wrappers-items {
    width: 190px;
    height: 144px;
    background-color: #F0F0F0;
    border-radius: 8px;
}
.small {
    margin-top: 20px;
    width: 78.48px;
    margin-left: -20px;
}

.items {
    font-weight: 400;
    font-size: 14px;
    color: #C0C0C0;
}
.items:first-child {
    background: #C0C0C0;
    color: #434343;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.items-text {
    font-weight: 400;
    font-size: 14px;
    margin: 0 auto;
    height: 48px;
    line-height: 48px;
    text-align: center;
}
.items-svg {
    margin-left: 30%;
    margin: 10px 0 10px 30%;
}
.hide-svg {
    display: none;
}

.option-item {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.option-text {
    font-weight: 900;
    font-size: 18px;
    color: #C0C0C0;
    margin-left: 10px;
}

.back {
    margin-left: 55%;
}
.back-change {
    margin-left: 40%;
}
.back-container {
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 1.5%;
}
#back-button:hover {
    transition: all 0.3s ease;
    stroke: #4EA32E;
    fill: none;
}
.back-text {
    font-size: 18px;
    text-align: center;
    width: 150px;
    margin-left: 15%;
}

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    height: 96px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #FAFAFA 0%, rgba(250, 250, 250, 0.1) 100%);
    backdrop-filter: blur(16px);
    position: fixed;
    width: 100%;
}
.header-text {
    margin-left: 22%;
    border-left: 2px solid #000;
    padding-left: 30px;
}
.header-img {
    margin-right: 5%;
}
.check-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px;
    margin: 180px 23.5% 40px 23.5%;
}

.check-containers__item {
    background-color: #FFFFFF;
    border-radius: 16px;
    width: 410px; 
    margin-top: 20px;
}
.check-containers__item--business {
    height: 562px;
}
.check-containers__item--digital {
    margin-top: -185px;
}
.check-containers__item--brand {
    height: 374px;
}
.check-containers__item--tv {
    margin-top: 1px;
}
.check-wrapp {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: -15%;
}

.hide {
    margin: 0 auto;
    display: block;
}

.check-text {
    color: #000;
    margin-left: 15px;
}

.check-contents {
    position: relative;
    margin-left: 13%;
    margin-top: 15%;
}
.check-contents__item {
    display: flex;
    align-items: center;
}
.check-contents__img {
    width: 64px;
    height: 64px;
    line-height: 60px;
    margin-bottom: 20px;
    border-radius: 50px;
    text-align: center;
    border: 2px solid #4EA32E;
    filter: drop-shadow(0px 0px 4px #7BFB4C);
}
.check-contents__img img{
    
  vertical-align: middle;  
}
.check-contents__wrapper {
    margin-left: 25px;
    margin-top: -10%;
}
.check-contents__descr {
    font-size: 12px;
    font-weight: 400;
}
.check-contents__text   {
    font-weight: 900;
    font-size: 18px;
    color: #4EA32E;
}
.check-contents__text:hover {
    transition: all 0.3s ease ;
    color: #3d3d3d;
}

.active-text {
    display: block;
}
.disable-text {
    display: none;
}
    
#active {
    color: #000;
}
.active {  
    display: block;
}


.block-menu {
    display: block;
}

.btn-menu {
    z-index: 100;
}