@media (max-width: 1366px) {
    
}

@media (max-width: 1100px) {
    
}
@media (max-width: 1024px) {
    
}

@media (max-width: 812px) {
    .contents-brands {
        grid-template-columns: repeat(1, 1fr);
    }
    .brands-item__name--2--modify {
        margin-top: 0px;
    }
    .brands-item__name--3--modify {
        margin-top: 0;
    }
    .service-content {
        margin-left: 0px; 
    }
    .brands-item__service {
        margin-right: 0;
    }
    
}

@media (max-width: 767px) {
    .login-container {
        top: 30%;
    }
    .header-logo {
        display: none;
    }
    .header-text {
        font-size: 18px;
        padding-left: 10px;
        border-left: 1px solid #000;
    }
    .header-img {
        margin-right: 0;
        width: 90px;
    }
    .main-contain {
        padding: 0 25px;
    }
}

@media (max-width: 375px) {
    button {
        width: 300px;
        margin-left: 30px;
    }
    input {
        width: 300px;
        margin-left: 30px;
    }
    .brands-item__service {
        display: none;
    }
    .name-text {
        border-bottom: none;
        margin-left: 30px;
        margin-top: -10px;
    }
    .brands-item {
        height: 100%;
    }
    .brands-item__name {
        padding: 10px 0px;
        display: inline-flex;
        border-right: none;
    }
    .name-logo {
        margin-left: 20px;
        width: 64px;
        height: 64px;
        margin-top: -25px;
    }

}

@media (max-width: 320px) {

}