.root {
    margin: 0;
    padding: 30px;
}

/*Первый блок*/
.hp1 {
    padding: 30px;
}

.hp2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 0 10px;
}

.flex-icon {
    width: 100px;
    height: 100px;
    background-color: rgb(223, 223, 223);
    text-align: center;
}

.flex-icon__text {
    margin: 40px auto;
    color: #000;
}

.flex-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}
.flex-item:first-child {
    margin-left: 0px;
}

.flex-text {
    margin-left: 10px;
}


.header-text {
    text-align: center;
}


/*Второй блок*/

.cwidth {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 450px;
    height: 100px;
}

.flex-container--1 {
    margin-right: 30px;
}

.flex-container__icon {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.flex-container__text {
    width: 100%;
    margin-left: 20px;
}

.second-container {
    margin-top: 80px;
    margin-bottom: 80px;
}


/*Третий блок*/

.flex-text--modify {
    color: #fff;
    background-color: rgb(58, 58, 58);
    padding: 10px;
    float: right;
}